@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

/* h1{
font-family: "Afacad Flux", sans-serif;
}*/

.sectionPrincipal{
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
}




